---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Capacitaciones empresariales" id="intro">
    <Fragment slot="lead">
        Entrena a tu equipo con opciones de aprendizaje a medida.<br />
        Potencia las habilidades de tus líderes en todas las áreas. <br />
        Crea beneficios para tu organización, entregando valor a tus colaboradores.<br
        />
    </Fragment>
    <a
        class="flex items-center justify-center gap-3 mt-5 px-6 py-4 border-2 border-current susbscribe-bottom"
    >
        <Icon pack="mdi" name="pencil" class="h-8" />
        <span>Contáctanos</span>
    </a>
</ContentSection>

<style>
    a {
        color: inherit;
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        cursor: cursor;
    }
</style>
